# Dependencies
node_modules/
database.db
.env
# app/static/*
# !app/static/default_pfp.png

app/user-service/static/*
!app/user-service/static/default_pfp.png
.tap/
logs/
*.log
.vscode/
tmp/
*.tmp
dist/
build/
certs/
*.tsbuildinfo

*.db
*-shm
*-wal