node_modules/
database.db
.env
app/static/*
!app/static/default_pfp.png
!app/static/olaaroub.jpeg
!app/static/hes-safi.jpeg
!app/static/oumondad.jpeg
!app/static/mmondad.jpeg
!app/static/ohammou-.jpeg
*.log
.vscode/
tmp/
*.tmp
dist/
build/
certs/
*.tsbuildinfo
*.db
*-shm
*-wal
terraform.tfvars
.terraform/
terraform.tfstate
terraform.tfstate.backup