filebeat.inputs:
- type: filestream
  id: docker-logs
  paths:
    - '/var/lib/docker/containers/*/*.log'
  parsers:
    - container:
        stream: all
        format: auto

  processors:
    - add_docker_metadata:
        host: "unix:///var/run/docker.sock"

output.logstash:
  hosts: ["logstash:5044"]