
services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    network_mode: "host"
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
