@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Pixelify+Sans:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar-custom {
    @apply scrollbar-thin scrollbar-thumb-color1 scrollbar-track-transparent hover:scrollbar-thumb-color2;
    }
}
