@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Share Tech', system-ui, -apple-system, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bruno Ace SC', system-ui, -apple-system, sans-serif;
}

@layer utilities {
    .scrollbar-custom {
    @apply scrollbar-thin scrollbar-thumb-color1 scrollbar-track-transparent hover:scrollbar-thumb-color2;
    }

    .glow-effect {
        box-shadow: 0 0 20px rgba(255, 106, 32, 0.15),
                    0 0 40px rgba(255, 106, 32, 0.1),
                    0 0 60px rgba(255, 106, 32, 0.05);
    }

    .glow-effect:hover {
        box-shadow: 0 0 30px rgba(255, 106, 32, 0.25),
                    0 0 60px rgba(255, 106, 32, 0.15),
                    0 0 90px rgba(255, 106, 32, 0.1);
    }
}

.glow-stroke {
	text-shadow:
	0 0 6px  #ed6f30ea,
	0 0 12px #d18a10;
}